@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>NorthWind Company</h1>
    <p class="lead">A World Wide Famous Company for every .Net developer</p>    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Employee List</h2>
        <p>
            Let's have a bit of view that who are working in NorthWind Company
        </p>
        <p><a class="btn btn-default" href="\Employee">Learn more &raquo;</a></p>
    </div>
</div>